@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';

@theme {
  --font-lalezar: "Lalezar", "sans serif";
  --animate-pulseGrowShrink: pulseGrowShrink 4s ease-in-out infinite;
  @keyframes pulseGrowShrink {
    0% {
      transform: scale(1)
    }
    1% {
      transform: scale(1.06)
    }
    15% {
      transform: scale(1)
    }
  }
}

/* globals.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.custom-pagination.black .swiper-pagination-bullet {
  background-color: black !important;
  opacity: 0.3;
}
.custom-pagination.black .swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 1;
}